<% if (timeout !== 0) { %>
  <div class="controls">
    <h3>Control de violencia</h3>
    <div class="controls_buttons">
      <button id="decrease"><%= decrease %></button>
      <button id="increase"><%= increase %></button>
    </div>
  </div>
<% } %>